<<<<<<< HEAD
<div class="user-page">
  <%= render "shared/details", user: @user %>
    <div class="user-bio">
     <strong class="bio">Bio: </strong> <br>
     <p><%= @user.bio %></p>
=======
<h1>Details of user: <%= @user.name%></h1>
<a href="../../" class="home-button">Home</a>
<div class="user-container">
  <img src= "<%=@user.photo%>" alt="Profile Picture"/>
  <div class="user-info">
    <h2><%=@user.name%></h2>
    <p class="number-of-posts">Number of posts: <%= @user.posts_counter%></p>
  </div>
</div>
<div class="create-btn">
  <button><%= link_to 'Create post', new_user_post_path(user_id: @user.id) %></button>
</div>
<div class="user-bio-container">
  <div class="user-bio-info">
    <h3>Bio</h3>
    <p><%= @user.bio%></p>
  </div>
</div>
<div>
  <% @user.recent_posts.each do |post|%>
    <div class="user-posts-container">
      <p>Post #<%= post.id%>: <%= link_to "#{post.title}", "./#{@user.id}/posts/#{post.id}" %></p>
      <p><%= post.text[0...100]%>...</p>
      <div>
        <p>Comments: <%= post.comments_counter || 0%>, Likes <%= post.likes_counter || 0%></p >
        <% if can? :destroy, post %>
        <%= button_to "Delete a post", user_post_path(post.author_id, post.id), method: :delete, data: { turbo: false } %>
      <% end %>
      </div>
>>>>>>> development
    </div>
    <div class="user-posts">
    <% @user.recent_posts.each do |post| %>
        <%= link_to user_post_path(@user) do%>
      <%= render "shared/post_details", post: post %>
        <%end%>
    <%end%>
    </div>
    <% if @current_user %>
    <a href="/users/<%= @user.id %>/posts/new">
    <button class="posts-btn">
        Add new post
      </button></a>
    <% end %>

<a href="/users/<%= @user.id %>/posts">
<button class="posts-btn">
        See all posts
</button></a>
</div>
