<<<<<<< HEAD
<div class="posts">
 <%= render "shared/details", user: @user %>
  <div class="all_posts">
   <% @posts.each_with_index do |post| %>
    <div>
     <%= link_to user_post_path(user_id:@user.id, id: post.id) do%>
       <%= render "shared/post_details", post: post %>
     </div>
        <div class="comments">
        <% if post.comments.empty? %>
          <p>Empty</p>
        <% else %>
            <% post.recent_comments.each do |comment| %>
             <p class="comment-body"><%= comment.author.name %>: <%= comment.text %></p>
            <%end%>
            <%end%>
        </div>
      <% end %>
   <%end%>
  </div>
   <button class="pagination">pagination</button>
=======
<h1>This is all posts</h1>
<a href="../../" class="home-button">Home</a>
<div class="user-container">
  <img src= "<%=@user.photo%>" alt="Profile Picture"/>
  <div class="user-info">
    <h2><%=@user.name%></h2>
    <p class="number-of-posts">Number of posts: <%= @user.posts_counter%></p>
  </div>
</div>
<div>
  <% @posts.each do |post| %>
  <div class="user-posts-container">
    <p>Post #<%= post.id %>: <%= link_to "#{post.title}", "#{user_posts_path}/#{post.id}" %></p>
    <p><%= post.text[0...100] %>...</p>
    <div>
      <p>Comments: <%= post.comments_counter || 0 %>, Likes <%= post.likes_counter || 0 %></p>
    </div>
  </div>
  <div class="post-comments">
    <p>Comments:</p>
    <% if post.comments.any? %>
      <% post.comments.each do |comment| %>
        <div>
          <p><%= User.find_by(id: comment.author_id).name %>: <%= comment.text[0...100] %>...</p>
        </div>
      <% end %>
    <% else %>
      <p>No comments added yet.</p>
    <% end %>
  </div>
<% end %>
>>>>>>> development
</div>